body {
    /* The image used */
    background-image: url('./road.jpg');

    /* Full height */
    height: 100%; 
    width:100%;
    padding:0;
    margin:0;
 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#text{
color: white;
text-decoration: none;
position: absolute;
left:28%;
}
.container {
    position: relative;
}
.buttons{
   
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: rgba(255,255,255,0.5);
    color: white
}
#flexelements{
    position: absolute;
    left: 50%;
  transform: translate(-50%, 0%);
}